body {
    margin: 0;
    background-color: #91e5a9;
}

h2 {
    text-align: center;
}

p, h2, table, ul, h3, form {
    font-family: 'Courier New', Courier, monospace;
}

hr {
    border-top: 1px dashed green;
    border-bottom: 1px dashed green;
}

img, iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 300px;
    height: 200px;
}

#page_heading {
    font-family: 'Brush Script MT', cursive;
    font-size: 75px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 120px 20%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    font-size: 11px;
}

ul.navbar>li {
    float: left;
}

ul.navbar>li h2 {
    display:block;
    margin: 0px;
    padding: 8px 16px;
}

ul.navbar>li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.navbar>li a:hover {
    background-color: darkgrey;
    color: white;
}

#content {
    margin-bottom: 36%;
    padding: 1px 16px;
}

#jspoa_color {
    color: purple;
}

#bjs_color {
    color: red;
}

.tabletype_1 {
    border: 1px hidden;
    border-collapse: collapse;
}

.tabletype_1 a {
    color: black;
}

.tabletype_1 tr th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}

.tabletype_2 {
    border-style: hidden;
    border-collapse: collapse;
}

.tabletype_2 a {
    color: black;
}

.tabletype_2 th, .tabletype_2 td {
    border-style: hidden;
    text-align: left;
    padding: 8px;
}

.tabletype_2 tr:nth-child(even) {
    background-color: lightblue;
}

.tabletype_2 tr:hover {
    background-color:yellow;
}

@media print {
    .screen_only {
        display: none;
    }
}